<VirtualHost *:{{ http_port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ http_host }}
   ServerAlias www.{{ http_host }}
   DocumentRoot /var/www/{{ http_host }}
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined
   Redirect permanent / https://www.{{ http_host }}/

</VirtualHost>
<VirtualHost *:443>
     SSLEngine on
     ServerAdmin webmaster@localhost
     ServerName {{ http_host }}
     ServerAlias www.{{ http_host }}
     DocumentRoot /var/www/vivekagarwal.com
     ErrorLog ${APACHE_LOG_DIR}/error.log
     CustomLog ${APACHE_LOG_DIR}/access.log combined
     SSLCertificateFile /etc/letsencrypt/certs/{{ http_host }}.crt
     SSLCertificateKeyFile /etc/letsencrypt/keys/{{ http_host }}.key
     RewriteEngine On
     RewriteCond %{HTTP_HOST} ^{{ http_host }} [NC]
     RewriteRule ^(.*)$ https://www.{{ http_host }}$1 [R,L]
     ProxyPreserveHost On
     ProxyPass /api http://localhost:8080/api
     ProxyPassReverse /api http://localhost:8080/api

</VirtualHost>



