<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Parking Slots Layout
  </h1>
</div>
<div class="col-lg-12 seat-container">
    
    <div class="seatrow container">
      <div *ngFor="let seatobj of seats; let i = index">
        <div *ngIf="seatobj != null">
          <button mat-button [ngClass]="{'seat-available': seatobj.isAvailable}" (click)="bookParking(seatobj.id)">
            {{seatobj.number}}
          </button>
          <button mat-button [ngClass]="{'seat-unavailable': !seatobj.isAvailable}" [disabled]="!seatobj.isAvailable" (click)="bookParking(seatobj.id)">
            <mat-icon>directions_car</mat-icon>
          </button>
        </div>
      </div>
  </div>
</div>